root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.json]
indent_size=4

[*.{c,h,yml,xml,xml.in,ent.in,ui}]
indent_size = 2

[meson.build]
indent_size = 2
